*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
 background-image: url(https://lumiere-a.akamaihd.net/v1/images/sa_pixar_virtualbg_coco_16x9_9ccd7110.jpeg);
  background-size: cover;
}
.container{
    background: rgb(0 0 0 / 65%);
    width: 50%;
    min-width: 0px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    padding: 20px 0;
    padding-bottom: 50px;
    border-radius: 20px;
}
.timerDisplay{
    position: relative;
    width: 92%;
    background: linear-gradient(.45deg, #ffffff, #000000);
    left: 4%;
    padding: 40px 0;
    font-family: 'Roboto mono',monospace;
    color: #ffffff;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(165, 165, 146, 0.25);
}
.buttons{
    width: 90%;
    margin: 60px auto 0 auto;
    display: flex;
    justify-content: space-around;
}
.buttons button{
    width: 120px;
    height: 45px;
    background-color: #f0f0f0;
    color: #080707;
    border: none;
    font-family: 'Poppins',sans-serif;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
.buttons button:nth-last-child(2){
    background-color: #15d01c;
  }
  .buttons button:nth-last-child(1){
    background-color: #c80606;
  }
